
<h1>Enter Your New CD</h1>

<form class="" action="index.html" method="post">
<label>CD Name</label>
<input name = "CdName"></input>
<label>Artist Name</label>
<input name = "ArtistName"></input>
<button>Add CD</button>
</form>
