
<h1>Enter Your New CD</h1>

<form action='/add_cd/@Model["selectedArtist"].GetId()/new' method="post">
<label>CD Name</label>
<input type="text" name = "cdInput"></input>
<button type="submit">Add CD</button>
</form>


<h1>List of CDs</h1>
@if (@Model["cdList"].Count == 0)
{
  <h3>You don't yet have any CD's for this artist</h3>
}

@foreach (var x in Model["cdList"])
{
  <li>
    @x.GetName()
  </li>
}
