<h1>Welcome</h1>

<h3>Add your artist</h3>

<form action="viewArtist" method="post">
  <label>For Artist</label>
  <input type="text" name="artistInput">
  <button type="submit" name="button">Add your artist</button>
</form>
